primary = #475CD1
secondary = darken(primary, 70%)

body
    background primary
    color whitesmoke 
    border 1px solid @color
    margin: 2rem
    padding 2rem
    
    main
        border 3px solid @color
        color secondary
        padding 2rem
        